body {
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 14px;
  width: 50%;
  margin: 100px auto;
  text-align: center;
  border: 1px solid #334155;
}
.title {
  font-size: 32px;
  font-weight: bold;
  color: #60a5fa;
}
.text {
  font-size: 18px;
  color: #cbd5e1;
}
